.wrapper {
  display: grid;
  
  grid-template-areas: 
    'main-story'
    'secondary-stories'
    'opinion-stories'
    'advertisement';
  gap: 48px;
  margin-bottom: 48px;
}

.mainStorySection {
  grid-area: main-story;
}

.secondaryStorySection {
  grid-area: secondary-stories;
}

.verticalStoryWrapper {
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-gray-300);
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}

.storyList {
  display: flex;
  flex-direction: column;
}

.opinionSection {
  grid-area: opinion-stories;
}

.advertisementSection {
  grid-area: advertisement;
}

