.wrapper {
  display: grid;
  
  grid-template-areas: 
    'main-story'
    'secondary-stories'
    'opinion-stories'
    'advertisement';
  gap: 48px;
  margin-bottom: 48px;
}

.mainStorySection {
  grid-area: main-story;
}

.secondaryStorySection {
  grid-area: secondary-stories;
}

.storyList {
  display: flex;
  flex-direction: column;
}

.opinionSection {
  grid-area: opinion-stories;
}

.advertisementSection {
  grid-area: advertisement;
}

