html, body {
    padding: 0;
    margin: 0;
}


.wrapper {
    --rect-width: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    height: 100svh;
}

.box {
    width: var(--rect-width);
    height: 80px;
}

.box.one {
    background-color: pink;
}

.box.two {
    background-color: pink;
}

.box.three {
    background-color: lavender;
}

.box.four {
    background-color: lavender;
}

.box.five {
    background-color: honeydew;
}

.box.six {
    background-color: honeydew;
}

/* TODO: Broken rectangles */

.wrapper {
    align-content: center;
    gap: 4px;
}

.box:nth-of-type(odd) {
    justify-self: end;
}

.box.one, .box.six {
    width: calc(var(--rect-width) * 0.25);
}
.box.two, .box.five {
    width: calc(var(--rect-width) * 0.75);
}
.box.three, .box.four {
    width: calc(var(--rect-width) * 0.5);
}
