nav, main {
    height: 200px;
    border: 3px solid;
}

nav {
    border-color: hsl(330deg 100% 50%);
    background: hsl(330deg 100% 50% / 0.2)
}

main {
    border-color: hsl(45deg 100% 50%);
    background: hsl(45deg 100% 50% / 0.2);
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* TODO */
nav {
    max-width: 150px;
    flex: 1;
}

main {
    max-width: 500px;
    flex: 2;
}
