.wrapper {
  color: var(--color-gray-900);
}

.avatar {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 100vmax;
  object-fit: cover;
  float: right;
  margin-left: 16px;

  @media (min-width: 34.375rem) and (max-width: 68.6875rem) {
    float: revert;
    margin-left: revert;
  }
}

.authorName {
  font-size: 1.125rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-700);
  margin-bottom: 4px;
}

.articleTitle {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
}