main {
    border: solid black;
    padding: 8px;
}

.row {
    display: flex;
    padding: 8px 0px;
    gap: 8px;
}
.row.with-bg {
    padding: 8px;
    background-image: url('./nasa-earth-shot.jpg');
    background-size: cover;
    background-position: center center;
}

.demo-box {
    min-width: 50px;
    min-height: 50px;
    border-radius: 4px;
}

.bg-gray-100 { background: var(--color-gray-100); }
.bg-gray-300 { background: var(--color-gray-300); }
.bg-gray-500 { background: var(--color-gray-500); }
.bg-gray-700 { background: var(--color-gray-700); }
.bg-gray-900 { background: var(--color-gray-900); }
.bg-primary { background: var(--color-primary); }
.bg-primary-light { background: var(--color-primary-light); }
.bg-primary-dark { background: var(--color-primary-dark); }
.bg-primary-alpha-700 { background: var(--color-primary-alpha-700); }
.bg-primary-alpha-500 { background: var(--color-primary-alpha-500); }
.bg-primary-alpha-300 { background: var(--color-primary-alpha-300); }
.bg-secondary { background: var(--color-secondary); }
.bg-secondary-light { background: var(--color-secondary-light); }
.bg-secondary-dark { background: var(--color-secondary-dark); }
.bg-secondary-alpha-700 { background: var(--color-secondary-alpha-700); }
.bg-secondary-alpha-500 { background: var(--color-secondary-alpha-500); }
.bg-secondary-alpha-300 { background: var(--color-secondary-alpha-300); }