.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  color: var(--color-gray-900);
  font-weight: var(--font-weight-bold);
  font-size: 1.5rem;
  margin-bottom: 1rem;
} 
.cornerLink {
  font-size: 0.75rem;
  color: var(--color-gray-900);
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-bold);

  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}