html, body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

section {
    flex: 1;
    min-height: 500px;
    background-color: deeppink;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

section + section {
    background-color: purple;
}