.wrapper {
    text-align: center;
}

.link {
    font-family: var(--font-family-logo);
    font-size: 3rem;

    @media (min-width: 34.375rem) {
        font-size: 4rem;
    }
}

.todaysDate {
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
    margin-top: -1rem;
}