.wrapper {
  color: var(--color-white);
  background: var(--color-gray-900);
  font-family: var(--font-family-sans-serif);
}

.topRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: var(--color-gray-300);
  font-size: 0.875rem;
  border-bottom: 1px solid var(--color-gray-700);
  padding: 24px 0;

  @media (min-width: 34.375rem) {
    flex-direction: row;
    justify-content: center;
    gap: 46px;
  }

  @media (min-width: 68.75rem) {
    justify-content: flex-end;
  }
}

.social {
  display: flex;
  gap: 24px;

  & svg {
    display: block;
  }

  & path {
    stroke-width: 1.5px;
  }
}

.topNavList {
  display: flex;
  gap: 16px;
}

.mainNavArea {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0 48px;
  text-align: center;

  @media (min-width: 34.375rem) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex-direction: revert;
    text-align: left;
  }
}

.mainNavHeading {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-300);
  margin-bottom: 8px;
}

.mainNavList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subfooterWrapper {
  background: var(--color-offblack);
  padding: 8px 0px;
  /* optical aligment */
  padding-bottom: 16px;
}

.subfooter {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 68.75rem) {
    align-items: flex-start;
  }
}

.logo {
  font-family: var(--font-family-logo);
  font-size: 2rem;
  color: var(--color-gray-100);
}

.disclaimer {
  margin-top: -4px;
  font-size: 0.875rem;
  color: var(--color-gray-500);
}