.superHeader {
    padding: 16px 0;
    background: var(--color-gray-900);
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
}

.actionGroup {
    display: flex;
    gap: 24px;

    & svg {
        display: block;
    }
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 48px;
}