.superHeader {
    padding: 16px 0;
    background: var(--color-gray-900);
    color: white;

    @media (min-width: 68.75rem) {
        display: none;
    }
}

.row {
    display: flex;
    justify-content: space-between;
}

.actionGroup {
    display: flex;
    gap: 24px;

    & svg {
        display: block;
    }
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 48px;

    @media (min-width: 34.375rem) {
        margin-top: 48px;
        margin-bottom: 72px;
    }

    @media (min-width: 68.75rem) {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        justify-content: revert;
        margin-top: 16px;
        margin-bottom: 72px;
    }
}

.actionDesktop {
    display: none;

    @media (min-width: 68.75rem) {
        display: flex;
    }
}

.subscribeWrappper {
    justify-self: end;
    display: none;

    @media (min-width: 68.75rem) {
        position: relative;
        display: revert;
    }
}

.subLink {
    position: absolute;
    width: 100%;
    margin-top: 8px;
    text-align: center;
    font-size: 0.875rem;
    color: var(--color-gray-900);
    font-style: italic;
    text-decoration: underline;
}